<p>The following development website has been created:</p>
<p>Site: <a href='{{ url }}'>{{ url }}</a></p>
<p>Username: {{ username }}</p>
<p>Password: {{ password }}</p>
<p>You have {{ days }} days from today before the site is deleted, however it can be extended on the homepage. You will be notified {{ expiryDays }} days prior to the pending removal.</p>